@use "../../styles/partials/mixins" as *;
.header{
    &__container{
        
        height: 35rem;
       
        //TABLET STYLING
        // display: flex;
        // max-width: 1020px;
        // margin: auto;
    }

    &__text-container{
        
        background-color: black;
        //TABLET STYLING
        // width: 50%;
    }

    &__image-container{
        @include main-page-container;
        border-bottom: 2px solid black;
        background-color: gainsboro;

        //TABLET STYLING
        // width: 50%;
        
    }

    &__image{
        width: 50%;
        height: 100%;
        opacity: 0.75;

        // TABLET STYLING
        // width: 100%;
        // height: 100%;
        // opacity: 0.75;
    }
}