@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.header {
  &__container {
    @include laptop {
      background: linear-gradient(to left, gainsboro 50%, #000 50%);
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
    }
    @include laptop {
      @include max-width;
    }
  }

  &__text-container {
    background-color: $secondary-background;
    @include tablet {
      flex-basis: 50%;
    }
  }

  &__image-container {
    @include main-page-container;
    border-bottom: 2px solid black;
    background-color: $image-background;
    @include tablet {
      flex-basis: 50%;
    }
    @include laptop{
      border: none;
    }
  }

  &__image {
    width: 50%;
    height: 100%;
    @include tablet {
      width: 75%;
    }
  }
}
