.nav{
    background-color: black;
  
    
    &__wrapper{
        padding: 1rem;
        display: flex;
        padding-left: 2rem;
        border-bottom: 1px solid white;
    }


    &__logo{
        text-decoration: none;
    }

    &__logo,
    &__contact{
        color: white;
        margin: 0;
    }
}