$primary-background: #fff;
$secondary-background: #000;
$tertiary-background: #006400;

$primary-text: #2F4F4F;
$secondary-text: #000;
$tertiary-text: #B0B0B0;
$highlighted-text: #008000;

$text-background: #444444;

$letter-spacing: 2px;

$link-hover-background: #f0f0f0;

$project-background: #F3F3F1;

$primary-border: 1px solid black;
$secondary-border: 1px solid rgba(0, 0, 0, 0.15);

$mobile-padding: 2rem;

