$primary-background: #fff;
$secondary-background: #000;
$tertiary-background: #006400;
$image-background: gainsboro;

$primary-text: #2F4F4F;
$secondary-text: #000;
$tertiary-text: #B0B0B0;

$project-primary: #006400;
$project-secondary: #c24d2c;

$highlighted-text: #008000;

$text-background: #444444;

$letter-spacing: 2px;

$contrast: white;

$link-hover-background: #f0f0f0;

$project-background: #F3F3F1;

$primary-border: 1px solid black;
$secondary-border: 1px solid rgba(0, 0, 0, 0.15);

$mobile-padding: 2rem;

$border-radius: 4px;

$box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 6px 0px;

$cursor: pointer;

$text-align: center;

