@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.skills{
    @include laptop{
        flex-basis: 50%;
    }
    &__title-container{
        @include main-page-container;
        padding-top: 2rem;
    }

    &__title{
        @include main-page-section-title
    }

    &__icons-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: $primary-background;
        border-radius: $border-radius;
        margin: 1rem 0.5rem;
        box-shadow: $box-shadow;
        @include tablet{
            column-gap: 2rem;
            margin: 1rem 3rem;
        }
    }

    &__icon{
        height: 4rem;
        width: 4rem;
        margin: 1rem;
    }
}