@use "../../styles/partials/mixins" as *;
.skills{
    &__title-container{
        @include main-page-container;
        padding-top: 2rem;
    }

    &__title{
        @include main-page-section-title
    }

    &__icons-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 4px;
        margin: 1rem 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 0px;
    }

    &__icon{
        height: 4rem;
        width: 4rem;
        margin: 1rem;
    }
}