.footer {
  &__headline-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  &__headline {
    font-size: 1.7rem;
    font-weight: 600;
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    border-top: 1px solid;
    border-image: radial-gradient(
        rgba(224, 224, 224, 1),
        rgb(24, 24, 24),
        rgba(224, 224, 244, 0)
      )
      1;
  }

  &__icon-background{
    border-radius: 50%;
    background-color: transparent;
  }

  &__icon-background:hover{
    background-color: #f0f0f0;
  }

  &__icon {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
  }

  &__email {
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
    padding-top: 0.5rem;
  }

  &__copyright-container {
    background-color: black;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }

  &__copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    &--bold {
      color: rgba(255, 255, 255, 1);
    }
  }
}
