@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.about{

    &__title-container{
        @include main-page-container;
        padding-top: 2rem;
    }
    &__title{
       @include main-page-section-title
    }

    &__description{
        color: $primary-text;
        line-height: 1.7;
        text-align: $text-align;
        font-size: 0.9rem;

    }
}
