@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.about{
    @include laptop{
        flex-basis: 50%;
    }
    &__title-container{
        @include main-page-container;
        padding-top: 2rem;
    }
    &__title{
       @include main-page-section-title
    }

    &__description{
        color: $primary-text;
        line-height: 1.7;
        text-align: $text-align;
        font-size: 0.9rem;
        padding: 0rem 1rem;
        @include tablet{
            padding: 0rem 3rem;
        }
        @include laptop{
            padding: 0rem 5rem;
        }
    }
}
